#ordersComponent{
    background-color: whitesmoke;
    width: 15vw;
    border-radius: 8px;
    opacity: 0;
    position: fixed;
    bottom: -42px;
    transition: opacity 1s, transform 1s;
}

#ordersCard {
    text-align: center;
}