.sign-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-input {
    margin: 8px 0;
}

.sign-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#voltar-login {
    margin: 8px 0;
}