#shopCartPage {
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 2px 2px 4px gray;
    height: 90%;
    width: 20vw;
    opacity: 0;
    position: fixed;
    right: -100px;
    transition: opacity 1s, transform 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cartCard {
    text-align: center;
}

#closeShopCartButton {
    position: fixed;
    top: 8px;
    right: 8px;
}